<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name='viewport' content='width=device-width, install-scale=1.0' />
  <meta http-equiv='X-UA_Compatible', content='ie=edge' />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function() {    //화면 다 뜨면 시작
        var searchSource = ["김치 볶음밥", "신라면", "진라면", "라볶이", "팥빙수","너구리","삼양라면","안성탕면","불닭볶음면","짜왕","라면사리" ]; // 배열 형태로 
        $("#bus_stop").autocomplete({  //오토 컴플릿트 시작
            source : searchSource,    // source 는 자동 완성 대상
            select : function(event, ui) {    //아이템 선택시
                console.log(ui.item);
            },
            focus : function(event, ui) {    //포커스 가면
                return false;//한글 에러 잡기용도로 사용됨
            },
            minLength: 1,// 최소 글자수
            autoFocus: true, //첫번째 항목 자동 포커스 기본값 false
            classes: {    //잘 모르겠음
                "ui-autocomplete": "highlight"
            },
            delay: 500,    //검색창에 글자 써지고 나서 autocomplete 창 뜰 때 까지 딜레이 시간(ms)
//            disabled: true, //자동완성 기능 끄기
            position: { my : "right top", at: "right bottom" },    //잘 모르겠음
            close : function(event){    //자동완성창 닫아질때 호출
                console.log(event);
            }
        });
        
    });
  </script>
  <title>버스 혼잡도 예측</title>
</head>

<body>
  <h1>버스번호, 정류장, 시간, 정류장ars번호를 적어주세요</h1>
  <form action="{% url 'result'  %}" method='POST'>
    {% csrf_token %}
    <p>버스정류장 : <input id='bus_stop', name='bus_stop' placehorder='정류장' /><p>
    <br/>
    <br/>
    <p>버스 번호 : <input name='bus_number' placehorder='버스번호' /></p>
    <br/>
    <br/>
    <p>시간 : <input name='time' placehorder='시간' /></p>
    <br/>
    <br/>
    <p>정류장 ARS 번호 : <input name='bus_ars_number' placehorder='정류장ars번호' /></p>
    <br/>
    <br/>
    <button type='submit'> 혼잡도 확인하기 </button>
  </form>
</body>
</html>


